<p>Comentário criado com sucesso.</p>

<p>
  <strong>Email:</strong>
  <%= @comentario.email %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @comentario.descricao %>
</p>


<%= link_to 'Voltar', sobre_path %>

