<p>Comentário criado com sucesso.</p>

<p>
  <strong>Email:</strong>
  <%= @coment.email %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @coment.descricao %>
</p>

<%= link_to 'Voltar', sobre_path %>
