<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @coment.email %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @coment.comentario %>
</p>


<%= link_to 'Back', new_coment_path %>
