<p id="notice"><%= notice %></p>

<h1>Listing Chamados</h1>

<table>
  <thead>
    <tr>
      <th>Numero solicitacao</th>
      <th>Data solicitacao</th>
      <th>Sexo</th>
      <th>Idade</th>
      <th>Codigo bairro</th>
      <th>Bairro</th>
      <th>Origem chamado</th>
      <th>Situacao chamado</th>
      <th>Tipo chamada</th>
      <th>Motivo descarte</th>
      <th>Tipo ocorrencia</th>
      <th colspan="3"></th>
    </tr>
  </thead>
</table>

<br>

<%= link_to 'New Chamado', new_chamado_path %>
